<h2>世界の政策金利</h2>
<div style="width:170px;font-size:12px;font-weight:bold;font-family:'Arial';text-align:right;" id="Kasumix_interest">
<script type="text/javascript" src="http://www.fx-fun.biz/blogparts/interest.js?JPY|USD|EUR|GBP|AUD|NZD|ZAR|ISK|TRY"></script>
<a href="http://www.fx-fun.biz/" target="_blank">fx 比較-選べるFX</a></div>



